/* ------------------------------- */
/* Custom properties               */
/* ------------------------------- */

:root{

    /* color */
    --clr-black: 0 0% 0%;
    --clr-black1: 0 0% 7%;        /*11111*/
    --clr-black2: 0 0% 17%;       /*22222*/
    --clr-black3: 0 0% 20%;       /*33333*/
    --clr-red: 0 100% 50%;
    --clr-white: 0 0 100%;
    --clr-brand: 77 48% 50%;
    --clr-blue: 213 100% 35%; 
    --clr-gray: 0 0% 87%;         /* #DDDDDD */
    --clr-lightgray: 0 0% 93%;    /* #eeeee */
    --clr-light: 0 0% 98%;        /* #f9f9f9 for body bg */
    --clr-707070:0 0% 44%;          /* #707070 */
    
    /* font-sizes */
    --fs-900: 2.25rem;          /*36px*/
    --fs-800: 1.5rem;           /*24px*/
    --fs-700: 1.25rem;          /*20px*/
    --fs-600: 1.125rem;         /*18px*/
    --fs-500: 1.0625rem;        /*17px*/
    --fs-400: 1rem;             /*16px*/
    --fs-300: 0.9375rem;        /*15px*/
    --fs-200: 0.875rem;         /*14px*/
    --fs-100: 0.8125rem;        /*13px*/

    /* font families */
    --ff-rubik: 'Rubik', sans-serif;

}

/* ------------------------------- */
/* Reset                           */
/* ------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 400 ;
}



/* set up the body */
body {
    font-family: var(--ff-rubik);
    font-size: var(--fs-600);     /*regular 18px/1.125rem*/
    color: hsl(var(--clr-black));
    background-color: hsl(var(--clr-white));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: hsl(var(--clr-light));
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------------------- */
/* Utility Classes                 */
/* ------------------------------- */



/* General */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 2rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    margin-block: 2rem;
    max-width: 73rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}



/* Colors */

.bg-black {background-color: hsl(var(--clr-black));}
.bg-light {background-color: hsl(var(--clr-light));}
.bg-gray { background-color: hsl(var(--clr-gray));}
.bg-lightgray {background-color: hsl(var(--clr-lightgray));}
.bg-red {background-color: hsl(var(--clr-red));}
.bg-white {background-color: hsl(var(--clr-white));}

.text-black {color: hsl(var(--clr-black));}
.text-707070 { color: hsl(var(--clr-707070 ));}   /*Nav text*/
.text-light {color: hsl(var(--clr-light));}
.text-gray { color: hsl(var(--clr-gray));}
.text-lightgray {color: hsl(var(--clr-lightgray));}
.text-red { color: hsl(var(--clr-red));}
.text-white { color: hsl(var(--clr-white));}
.text-black1 { color: hsl(var(--clr-black1));}
.text-black2 { color: hsl(var(--clr-black2));}
.text-black3 { color: hsl(var(--clr-black3));}
.text-brand { color: hsl(var(--clr-brand));}


/* Typography */

.ff-rubik { font-family: var(--ff-rubik);}

.uppercase { text-transform: uppercase;}

.regular { font-weight: 400;}
.bold { font-weight: 700;}
.medium { font-weight: 500;}

.fs-900 { font-size: var(--fs-900);}
.fs-800 { font-size: var(--fs-800);}
.fs-700 { font-size: var(--fs-700);}
.fs-600 { font-size: var(--fs-600);}
.fs-500 { font-size: var(--fs-500);}
.fs-400 { font-size: var(--fs-400);}
.fs-300 { font-size: var(--fs-300);}
.fs-200 { font-size: var(--fs-200);}
.fs-100 { font-size: var(--fs-100);}

.fs-900{ line-height: 44px;}
.fs-800{ line-height: 44px;}
.fs-700{ line-height: 44px;}
.fs-600{ line-height: 36px;}
.fs-500{ line-height: 24px;}
.fs-400{ line-height: 24px;}
.fs-300{ line-height: 24px;}
.fs-200{ line-height: 28px;}
.fs-100{ line-height: 20px;}

.lh-24{ line-height: 24px; }
.lh-27{ line-height: 27px; }



/* ------------------------------- */
/* Components                      */
/* ------------------------------- */



/*----- Navigation ------- */
/* .navbar-large{
    display: block;
}

.navbar-mobile {
    display: none;
} */

.primary-navigation {
    justify-content: center;
    --gap: 1.875rem; 
    align-items: center;  
    list-style: none;
    padding-inline: 1.25rem;
    margin: 0;
    background: hsl(var(--clr-black));  
    /* border: 1px solid yellow; */
    /* margin-block: 2rem; */
    /* position: fixed; */
    
}

.primary-navigation a {
    text-decoration: none;
}
.primary-navigation a:hover{
    color: hsl(var(--clr-red));
}
/* .primary-navigation > *:where(:last-child) {
    border: 1px solid yellow;
} */

.category-filter{
    --gap: 0;
    align-items: center;
    background-color: hsl(var(--clr-black2));
    padding-inline: 1.25rem;
    /* margin-left: 3rem; */
    /* border: 1px solid gold; */
}
.category-filter:hover{
    cursor: pointer;
}

.category-btn{
    background: transparent;
    padding-left: 0.65rem;
    padding-block: 1.25rem;
    padding-right: 5rem;
    /* border: 1px solid yellow; */
}

.filter{
    background: transparent;
    background-image: url(./assets/icons/Menu.svg);
    background-repeat: no-repeat;
    width: 1.2rem;
    aspect-ratio: 1;
    /* border: 1px solid gold; */
}

.dropdown-icon{
    background: transparent;
    background-image: url(./assets/icons/arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 1rem;
    aspect-ratio: 1;
    /* border: 1px solid gold; */
}

.language{
    align-self: flex-end;
    justify-content: center;
    --gap: 0.2rem;
    padding: 0.4rem;
    margin-left: 6.5rem;
    border: 1px solid hsl(var(--clr-lightgray) /.5);
}

.flag{
    background: transparent;
    background-image: url(./assets/icons/uk-flag-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 2 0.5;
    /* border: 1px solid gold; */
}
.language .dropdown-icon{
    opacity: 30%;
    width: 3rem;
    margin-left: 0.4rem;
    /* border: 1px solid gold; */
}
.category, .language:hover{
    cursor: pointer;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation .profile{
    display: none;
}
.primary-navigation .cart{
    display: none;
}


/* Mobile Navb Bar */
@media (max-width: 35em){

    /*---- Nav ----*/   
    .search-header .account{
        display: none;
    }

    .primary-navigation .profile{
        display: block;
        display: flex;
    }
    .primary-navigation .cart{
        display: block;
        display: flex;
    }

    .search-header {
        margin: 0;
        /* border: 1px solid blue; */
        padding-inline: 1rem;
    }
    .search-header .header {
        --gap: 1rem;
        margin-top: 0;
        /* border: 1px solid green; */
        padding-bottom: .7rem;
        /* border: 3px solid purple; */
    }
    .logo-white{
        padding-top: 0.5rem;
        /* margin-left: 1rem; */
        width: 10rem;
        
        /* aspect-ratio: 1; */
        /* border: 1px solid red; */
    }

    .search-box {
        max-width: 1rem;
        padding-right: 2.5rem;
        padding-left: 3.5rem;
        
        padding-top: 0.5rem;
        /* border: 1px solid green; */
        margin-bottom: 0;
    }
    .search-form{
        margin-top: 1.2rem;
        line-height: 0;
        /* border: 1px solid green; */
    }
    .search-form .search{
        /* border: 1px solid blue; */
        
    }
    .search-box .search-icon{
        margin-right: 0.1rem;
        /* border: 1px solid black; */
        width: 2.3rem;
        height: 1.8rem;
        margin-top: 0;
        /* aspect-ratio: 1; */
    }
    .search-box .form-control{
        padding-block: 0.5rem;
        /* width: 2rem;
        height: auto; */
    }


    .primary-navigation {
        --gap: 1.5rem;
        align-items: flex-start;
        /* border: 1px solid gold; */
        list-style: none;
        margin: 0;
        background: hsl(var(--clr-black));  
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 20%;
        padding: min(5rem, 15vh) 3rem;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        
    }
    .category-filter{
        /* border: 1px solid gold; */
        padding-inline: .6rem;
    }
    .category-btn{
        padding-right: 1.5rem;
        /* border: 1px solid gold; */
        padding-block: .7rem;
    }
    .filter{
        /* border: 2px solid green; */
        display: none;
    }
    .language{
        align-self: flex-start;
        margin-left: 0;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .avator {
        /* border: 1px solid gold; */
        padding: .3rem;
        opacity: 100%;
    }
    .primary-navigation p a{
        color: white;
    }
    .profile, .cart {
        --gap: .2rem;
        margin-left: -0.3rem;
        align-items: center;
         /* border: 1px solid white; */
         /* width: 100%; */
    }
    .acc-des{
        width: 100%;
    }
    .primary-navigation .cart {
        /* border: 1px solid white; */
        margin-left: -0.3rem;
    }
    .shop-icon{
        /* border: 1px solid gold; */
        padding: .3rem;
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2.2rem;
        background: hsl(var(--clr-black1));
        background-image: url(./assets/icons/Menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        border-radius: 3px;
        /* margin-right: 1rem; */
    }

    .mobile-nav-toggle[aria-expended="true"] {
        background-image: url(./assets/icons/ci_close-big.png);
        opacity: 70%;
    }      
}

/* Tablet Navbar */
@media (min-width: 35em) and (max-width: 45em){

    /*---- Nav ----*/   
    .search-header .account{
        display: none;
    }

    .primary-navigation .profile{
        display: block;
        display: flex;
    }
    .primary-navigation .cart{
        display: block;
        display: flex;
    }

    .search-header {
        margin: 0;
        /* border: 1px solid blue; */
        padding-inline: 1rem;
    }
    .search-header .header {
        --gap: 1rem;
        margin-top: 0;
        /* border: 1px solid green; */
        padding-bottom: .7rem;
        /* border: 3px solid purple; */
    }
    .logo-white{
        padding-top: 0.5rem;
        /* margin-left: 1rem; */
        width: 10rem;
        
        /* aspect-ratio: 1; */
        /* border: 1px solid red; */
    }

    .search-box {
        max-width: 1rem;
        padding-right: 2.5rem;
        padding-left: 3.5rem;
        
        padding-top: 0.5rem;
        /* border: 1px solid green; */
        margin-bottom: 0;
    }
    .search-form{
        margin-top: 1.2rem;
        line-height: 0;
        /* border: 1px solid green; */
    }
    .search-form .search{
        /* border: 1px solid blue; */
        
    }
    .search-box .search-icon{
        margin-right: 0.1rem;
        /* border: 1px solid black; */
        width: 2.3rem;
        height: 1.8rem;
        margin-top: 0;
        /* aspect-ratio: 1; */
    }
    .search-box .form-control{
        padding-block: 0.5rem;
        /* width: 2rem;
        height: auto; */
    }


    .primary-navigation {
        --gap: 1.5rem;
        align-items: flex-start;
        /* border: 1px solid gold; */
        list-style: none;
        margin: 0;
        background: hsl(var(--clr-black));  
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 20%;
        padding: min(5rem, 15vh) 3rem;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        
    }
    .category-filter{
        /* border: 1px solid gold; */
        padding-inline: .6rem;
    }
    .category-btn{
        padding-right: 1.5rem;
        /* border: 1px solid gold; */
        padding-block: .7rem;
    }
    .filter{
        /* border: 2px solid green; */
        display: none;
    }
    .language{
        align-self: flex-start;
        margin-left: 0;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .avator {
        /* border: 1px solid gold; */
        padding: .3rem;
        opacity: 100%;
    }
    .primary-navigation p a{
        color: white;
    }
    .profile, .cart {
        --gap: .2rem;
        margin-left: -0.3rem;
        align-items: center;
         /* border: 1px solid white; */
         /* width: 100%; */
    }
    .acc-des{
        width: 100%;
    }
    .primary-navigation .cart {
        /* border: 1px solid white; */
        margin-left: -0.3rem;
    }
    .shop-icon{
        /* border: 1px solid gold; */
        padding: .3rem;
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2.2rem;
        background: hsl(var(--clr-black1));
        background-image: url(./assets/icons/Menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        border-radius: 3px;
        /* margin-right: 1rem; */
    }

    .mobile-nav-toggle[aria-expended="true"] {
        background-image: url(./assets/icons/ci_close-big.png);
        opacity: 70%;
    }      
}

/* Tablet and above */
@media (min-width: 45em){

}



/* ------Interactive Elements -------- */

.interactive-elements{
    flex-direction: column;
    --gap: 2rem;
    /* flex-wrap: wrap; */
}




/*----- Search input --------*/
.search{
    align-items: center;
    width: 100%;
    /* border: 1px solid gold; */
    position: relative;
}
.form-control{
    width: 100%;
    height: 100%;
    padding-block: 1rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    /* border: 1px solid gold; */
}

.search-icon{
    border: none;
    background: red;
    background-image: url(./assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* margin-block: .1rem; */
    width: 4.5rem;
    height: 3rem;
    /* margin-top: .064rem; */
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    position: absolute;
    right: .15rem;
    /* border: 1px solid black; */
 }

 .search-form{
     max-width: 32rem;
 }


 /* Primary Button */

 .buttons{
     flex-direction: column;
     --gap: 2rem;
 }
 


 .primary-btn{
     position: relative;
     max-width: 15rem;
     /* padding-inline: 2.2rem; */
     text-align: center;
     border: 2px solid hsl(var(--clr-red));
     /* color: hsl(var(--clr-gray)); */
     padding-block: 0.8rem;
     /* margin-bottom: 2rem; just for now */
     overflow:hidden;
     z-index: 1;
     cursor: pointer;
     transition: 0.08s ease-in;
     -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
 }

 .primary-btn {
    color: hsl(var(--clr-red));
  }
  
 .primary-btn:hover {
    color: hsl(var(--clr-light));
  }
 .primary-btn:before {
    content: "";
    position: absolute;
    background: hsl(var(--clr-red));
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.09s ease-in;
  }
  
  .primary-btn:hover:before {
    top: 0;
  }

 .explore{
    position: relative;
    max-width: 10rem;
    padding-block: 0.4rem;
    /* padding-inline: 0rem; */
 }


 /* Ad tab */

 .tab-indicators{
     --gap: .5rem ;
 }
 .tab-indicators > button{
     width: 1.5rem;
     border: none;
     background: transparent;
     border-bottom: 2px solid hsl(var(--clr-black) /.5);
 }

 .tab-indicators > button.active,
 .tab-indicators > button[aria-selected="true"]{
    border-bottom: 2px solid hsl(var(--clr-red) / 1);
 }

 /* Categories */

 .category{
     --gap: 1.5rem;
     max-width: 10.6rem ;
     background: transparent;
     flex-direction: column;
     text-align: center;
     /* border: 1px solid black; */
     
 }
 .category .image{
     border: 1px solid hsl(var(--clr-gray));
     border-radius: 50%;
     background-image: url(./assets/Categories/engine.png);
     background-position: center;
     aspect-ratio: 1;
     padding: 3rem;
 }

 .category .image:hover,
 .category .image:focus{
    border: 1px solid hsl(var(--clr-red));
    transition: 200ms ease-in-out;
    -moz-box-shadow: 0px 2px 5px 3px hsl(var(--clr-gray));
    -webkit-box-shadow: 0px 2px 5px 3px hsl(var(--clr-gray));
    box-shadow: 0px 2px 5px 3px hsl(var(--clr-gray));
 }

.category .image2{
    background-image: url(./assets/categories/7-150x150.png);
}
.category .image3{
    /* border: none; */
    /* border: 1px solid hsl(var(--clr-gray)); */
    background-image: url(./assets/categories/cart-part.png);
}
.category .image4{
    background-image: url(./assets/categories/5-150x150.png);
}
.category .image5{
    background-image: url(./assets/categories/car-battery-jumper-cables_41929-427.png);
}
.category .image6{
    background-image: url(./assets/categories/selection10.png);
}
.category .image7{
    background-image: url(./assets/categories/perfume.png);
}
.category .image8{
    background-image: url(./assets/categories/Untitled-7-300x300.png);
}
.category .image9{
    background-image: url(./assets/categories/sticker.png);
}
.category .image10{
    background-image: url(./assets/categories/avmfcvts5rnr8mrwahvs_600x.png);
}


/* Banners */

.banner{
    align-items: center;
    /* justify-content: space-between; */
    --gap: .6rem ;
    flex-direction: row;
    padding-left: .6rem;
    padding-top: 1rem;
    padding-right:.5rem;
    /* border: 1px solid gold; */
    max-width: 25rem;
    background-color: hsl(var(--clr-lightgray));
    background-image: url(./assets/Services/service1.png);
    background-position: 3rem;
    background-repeat: no-repeat;
    
    /* padding-block: 1.25rem; */
}
.home-service{
    max-width: 12rem;
    aspect-ratio: 1;
    /* border: 1px solid black; */
    padding-block: 1rem;
    /* padding-right: 1rem; */
}
.des{
    padding-block: .5rem;
    /* display: inline-block; */
    /* align-self: flex-end; */
    display: inline-block;
    /* width: 100%; */
    padding-bottom: 1.6rem;
    /* border: 1px solid black; */
}
.des p{
    max-width: 11rem;
    margin-bottom: 1rem;
    opacity: 90%;
    
}


.product-card .image{
    background-color: hsl(var(--clr-lightgray));
    /* background-image: url(./assets/products/cleaner-kit_600x.png); */
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
}

.product-card .image img{
    width: 100%;
    height: 100%;
}

.product-card .card{
    /* border: 1px solid green; */
    position: relative;
}
.product-card .percent{
    width: 3rem;
    border-radius: 3px;
    position: absolute;
    /* aspect-ratio: 1; */
    background-color: hsl(var(--clr-black));
    text-align: center;
    top: 1.2rem;
    left: 1.2rem;
}

.outstock p{
    padding-block: 0.4rem;
    width: 100%;
    background-color: hsl(var(--clr-red));
    /* opacity: 100%; */
}
.outstock{
    width: 100%;
    height: 100%;
    background-color: hsl(var(--clr-gray)/.8);
    /* opacity: 70%; */
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0%;
}

.outstock[data-visible="true"] {
    opacity: 100%;
}


 /* ------------- Footer -------------- */
.footer{
    /* border: 1px solid gold; */
    padding-top: 2rem;
    /* background-image: url(./assets/Services/service1@2x.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: hsl(var(--clr-black));
}

.footer-column{
     flex-grow: 1;
     flex-direction: column;
     /* background-color: pink; */
     width: calc(100%/10);
     height: 20rem;
     /* border: 1px solid gold; */
     /* justify-content: flex-start; */
 }
.footer-column a{
    text-decoration: none;
}

.footer-column a:hover,
.footer-column a:focus{
    color: hsl(var(--clr-red));
}

.logo-black{
    margin-bottom: 1rem;
    max-width: 8.125rem;
}
.contact-info{
    --gap: 1rem;
    flex-grow: 4;
}

 .address,.ph,.mail{
     align-items: flex-start;
     /* border: 1px solid red; */
 }

.ph-icon,.mail-icon{
    width: 1.2rem;
    aspect-ratio: 1;
    /* border: 1px solid black; */
    margin-left: .2rem;
}

.add-icon{
    width: 2.3rem;
    aspect-ratio: 1 6;
    /* border: 1px solid black; */
}
.social div{
    align-content: center;
    width: 2rem;
    aspect-ratio: 1;
    background: hsl(var(--clr-black3));
    border-radius: 50%;
}

.social{
    margin-top: .75rem;
}
.social img{
   margin: .5rem auto;
   /* border: 1px solid gold; */
}
.information, .customer-service, .payment{
    padding-top: 2rem;
}
.footer-column ul{
    margin-top: 1.3rem;
    /* border: 1px solid gold; */
    padding-left: 1rem;    /*may be fixed again in responsive*/
    --flow-space: 0.5rem;
}

.footer-column li{
    color: hsl(var(--clr-707070));
}
 .payment{
     flex-grow: 2;
     right: 0;
 }
 .payment-type{
    margin-top: 1.3rem;
     --gap: .625rem;
     flex-wrap: wrap;
     max-width: 17rem;
 }
 .payment-type img{
     width: 3rem;
     height: 1.7rem;
 }
 .copyright{
     background-color: hsl(var(--clr-black1));
     padding-block: 1.75rem;
     /* border: 1px solid gold; */
     text-align: center;
 }


 /* Hero Section */
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5000;
  }

 .search-header{
     background-color: #fff;
     padding-top: .1rem;
     /* position: sticky; */
 }

 .header{
   /* margin-top: 1.8rem; */
   align-items: center;
   --gap: 6.5rem;
   /* background-color: gold; */
   padding-inline: 0;
   margin-block: 0;
   margin-top: 0.9rem;
   margin-bottom: 0;
   padding-bottom: 1.3rem;
 }
  .header *{
      /* background-color: gray; */
      --gap: 0.6rem;
  }

  .logo-white{
    max-width: 12.3rem;
    margin-top: -0.3rem;
  }

  .search-box{
    max-width: 29rem;
    width: 100%;
    /* background-color: greenyellow; */
  }

 .account{
    cursor: pointer;
}

.account a{
    text-decoration: none;
    color: hsl(var(--clr-black));
}

.cart{
    margin-left: 0.8rem;
}
.avator, .shop-icon{
    width: 2.2rem;
    aspect-ratio: 1;
    opacity: 70%;
}

.shop-icon{
    width: 2.4rem;
}


@media (min-width: 45em) {
    .header {
        --gap: 1rem;
    }
}



/* Hero Nav */
.hero{
    /* margin-top: 26vh;  just for desktop */
}

.hero-nav .primary-navigation{
    margin-block: 0;
    /* margin-top: 1.3rem; */
}

.ad-banner{
    background-color: hsl(var(--clr-gray));
    height: 25rem;     /*fix later responsive*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    /* align-items: center; */
}

.ad-banner p{
    /* position: absolute; */
    font-size: 1.3rem;
    line-height: 2.6rem;
    /* padding: 10rem 0; */
    /* padding-block: 9rem; */
    /* border: 1px solid red; */
    /* height: 100%; */
    
}

.ad-banner .tab-indicators{
    position: absolute;
    bottom: 1rem;
    left: 46.5vw;
}

.product-banner{
    margin-top: 3rem;
    padding-inline: 0;
    --gap: 2rem;
    /* background-color: indianred; */
}
.product1, .product2 {
    padding: 1.5rem 0 0.7rem 1.5rem;
    background-color: hsl(var(--clr-lightgray));
    border-radius: 5px;
    /* --gap: 5rem; */
}

.promotion{
    margin-left: auto;
    margin-right: auto;
    margin-block: 3rem;
}

/* Latest Product */

.latest-product{
    margin-top: 6rem;
    
}
.latest-product .text, h1{
    text-align: center;
}
.latest-product h1{
    margin-bottom: 1.875rem;
}

.latest-product .text{
    margin-left: auto;
    margin-right: auto;
    width: 48rem;
    margin-bottom: 1rem;
}


/* 
.carousel-inner{
    background-color: khaki;
    margin-right: inherit;
} */

/* Carousel */

.carousel-container{
    width: 70rem;
    /* background-color: gray; */
    height: auto;
    margin: 2rem auto;
    position: relative;
    padding-block: 3rem;
    /* border: 1px solid gray; */
    /* overflow: hidden; */
}

.carousel-container .carousel-inner {
    /* background-color: burlywood; */
    /* overflow: hidden; */
    
    
}
.carousel-container .track{
    display: flex;
    transition: transform 500ms ease-in-out;
    /* border: 1px solid gold; */
    padding-block: 2rem;
    /* flex-shrink: 0; */
}
.carousel-container .card-container{
    width: auto;
    /* height: auto; */
    flex-shrink: 0;
    height: auto;
    /* --gap:1rem; */
    /* border: 1px solid black; */
    padding-inline: 1.2rem;
    /* padding-block: 2rem; */
    /* box-sizing: border-box; */
   
}

.carousel-container .card-container .card-holder{
    width: 100%;
    height: auto;
    /* background-color: pink; */
    /* transition: translateY(10%); */
    cursor: pointer;
    border-radius: 10px;
    /* border: 1px solid gold; */
    
}

/* .card-container .card-container .card:hover{
    box-shadow: 0 5px 5px 5px hsl(var(--clr-gray));
} */

.card-container .card-holder:hover{
    transform: translateY(-3%);
    transition: transform 500ms ease-in-out;
    box-shadow: 0 3px 5px 2px hsl(var(--clr-gray));

}

.carousel-btn button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* border: 1px solid gray; */
    background-color: hsl(var(--clr-black3)/.1);
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-70%); /*to center button*/
    
    
}

.carousel-btn .material-icons{
    padding-top: 13%;
    opacity: 15%;
}
.carousel-btn .prev{
    left: -3rem;
    
}

.carousel-btn .next{
    right: -3rem;
    
}

.latest-product .ad-banner{
    margin-top: 4rem;
    height: 16rem;
    /* border: 1px solid red; */
}
.latest-product .ad-banner p{
    padding:0;
    /* border: 1px solid gold; */
}


.categories-section h1{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.categories {
    padding: 0;
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2.5rem;
    /* margin-left: 1rem; */
    /* flex-shrink: 0; */
}


.categories .category{
    width: 100%;
    margin-right: 1.5rem;
    padding-left: 1rem;
}

.services{
    margin-top: 5rem;
    --gap: 1.25rem;
    /* margin: auto; */
    justify-content: center;
}


.featured-products {
    margin-top: 7rem;
    text-align: center;
    margin-bottom: 6rem;
    
}

.featured-products h1{
    margin-bottom: 1.8rem;
}

.featured-products p{
    max-width: 48rem;
    margin: auto;
}

/* product grid */

.product-container{
    margin-block: 3rem;
    /* display: grid; */
    --gap: 1.8rem;
    row-gap: 2rem;
    justify-content: center;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}

/* offers */
.service-offer {
    background-color: #fff;
    padding-block: 1rem;

}
.offer {
    /* max-width: 30rem; */
    align-items: center;   
    --gap: 2rem;   
    background-color: #fff;
    padding-left: 4rem;
    /* justify-content: center; */
    /* padding-inline: 10rem; */
    /* background-color: blanchedalmond; */
    /* padding-left: 3rem; */
}

.offer *{
    flex-grow: 1;
    /* max-width: 50rem; */
    /* background-color: khaki; */
}

.offer img{
    float: left;
    margin-right: 1rem;
}
.ship img{
    padding-top: .5rem;
}
.support img{
    padding-top: .3rem;
}
